<div class="quizz__container">

    <div class="quizz_logo">
        <img src="../../../assets/imgs/ifood.svg" alt="" srcset="">
        <h3>{{title}}</h3>
    </div>

    <div *ngIf=!finished class="quizz_questions">
        <h3>{{questionSelected.question}}</h3>
    </div>

    <div *ngIf=!finished class="quizz_options">

        <button *ngFor="let option of questionSelected.options; let i = index" (click)="playerChoose(option.alias)"
            class="btn-option">
            {{option.name}}
        </button>

    </div>

    <div *ngIf=finished class="quizz_results">
        <h1>Você acertou {{ correctAnswers }}/7</h1>
        <p>{{answerSelected}}</p>
        <button class="quizz_restart" (click)="restartQuizz()">Fazer Novamente</button>
    </div>
    

    <hr>

    <div class="quizz_footer">
        <span>© Copyright 2023 - José Igor Souza</span>
        <div class="quizz_footer_icons">
            <a href="https://www.linkedin.com/in/igorolivrs/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/imgs/linkedin.svg" alt="linkedin José Igor Souzza"></a>
            <a href="https://github.com/igorolivrs" target="_blank" rel="noopener noreferrer"><img src="../../../assets/imgs/github.svg" alt="Github José Igor Souza"></a>
        </div>
    </div>
</div>